<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>Estopa</h1>
    <container>
        <section>
            <p id="home-text">
                Estopa are a popular duo from Cornellà, Spain. The band consists of the brothers José and David Muñoz, who sing different sounds reflecting many genres, including rock, rumba and flamenco. Their first album, Estopa, has sold over 1,000,000 copies to date. Their latest album, Voces de Ultrarumba, sold more than 200,000 copies on its first day of release. Their music has made them one of the most successful rock groups in Spanish history.
                
            </p>
            
        </section>
        <section>
            <a href="./about">About</a>
            <a href="./works">Works</a>
            <img id="home-picture" src="/estopa2.jpg">
    </section>
</container>
</body>
</html>