<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works Page</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h1>Estudio albums of Estopa</h1>
<p id="works-text"> Estopa is a Spanish rock/rumba duo from Cornellà de Llobregat, Spain. Their songs "El Run Run" and "Cuando Amanece" reached number one on Billboard's chart in Spain, and "Con La Mano Levanta" reached number four. The band consists of brothers José and David Muñoz; their style includes rock, rumba, and flamenco genres. The band has stated, "We don't like to be easily categorized."

    Their sound is similar to that of Khode, a Spanish rumba band that was popular in the 1970s. Estopa made a cameo appearance in the Spanish film The 4th Floor. They have performed with other popular Spanish artists such as Rosario Flores and Macaco.</p>
     
    <div id="li-estopa">
    <li>Estopa - 2000</li>
     <li>Destrangis - 2002</li>
     <li>Mas Destrangis - 2003</li>
     <li>¿La calle es tuya? - 2004</li>
     <li>Voces de Ultratumba - 2005</li>
     <li>Allenrock - 2008</li>
     <li>2.0 - 2011</li>
     <li>Rumba a lo desconocido - 2015</li>
     <li>Fuego - 2019</li>
    </div>
     <div id="img-about"><img src="../albums.jpg"></div>

     <div id="link-center"><a href="./">HOME</a></div>

</body>
</html>